.popup {
    position: fixed;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, 0);
    min-height: 50px;
    width: 80%;
    max-width: 280px;
    padding: 0.6rem;
    border-radius: 0.2rem;
    background: #B00020;
    color: white;
    opacity: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear-for-two-thirds 3s;
}

@keyframes appear-for-two-thirds {
    16%, 84% {
        bottom: 2.2rem;
        opacity: 1;
    }
}
